$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$global: "Raleway", "sans-serif";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:62.5%; 
    font-family:$global;
    .clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}
.container {
    max-width:1200px;
    margin:0 auto;
     height:600px;
}

/* Main App */
.app {
    height:100%;
    width:320px;
    margin:0 auto;
    background:url(../images/iphone.png) no-repeat;
    background-size:95%;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
        h1{
            padding: 45% 0 5% 0;
            font-size:8rem;
        }
        .circle {
            border:1px solid orange;
            width:120px;
            height:120px;
            margin-left: 33%;
            border-radius:50%;
            a {
                text-decoration: none;
                color:white;
            }
        }
        .circle:hover {
             background: rgba(171, 209, 218, 0.5);
            a {
                color:orange;
            } 
        }
        p.plan {
            font-size:3rem;
            line-height:3rem;
            margin:0;
            padding-top:35px;
        }
        p.newEvent {
            font-size:1.5rem;
            margin:0;
        }
        .events {
            width:228px;
            margin:25px auto;
            padding:2%;
                h1{
                padding:10px 0 0 10px;
                font-size:2rem;
                } 
            a {
                text-decoration: none;
                color:white;    
            }
            a:hover {
                 color:orange;
            }
        }
}

.app1 {
    height:100%;
    width:320px;
    margin:0 auto;
    background:url(../images/iphone1.png) no-repeat;
    background-size:95%;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

    .titlePlace {
            width:228px;
            margin:5% auto;
            padding:2%;
                
                h1{
                padding:14% 0 0 0;
                font-size:3rem;
                }

                h1.title {
                    padding-top:50%;
                }

            a {
                text-decoration: none;
                color:orange;    
            }
            a:hover {
                 color:orange;
            }
        }

    .plusImage {
        width:50px;
        height:50px;
        background:url(../images/+lines.png) no-repeat;
        display:block;
        margin:0 auto;
    }
    .plusImage:hover {
        width:100px;
        background-position: -50px 0px;
    }
   
.goButton {
    border:1px solid #eda933;
    display:inline-block;
    font-color:#f9fff6;
    font-size:1.8rem;
    height:55px;
    line-height:55px;
    width:145px;
    text-decoration:none;
    text-align:center;
    border-radius: 5px;
    background:#fdf0cf;
    margin:35px 0 0 5px;
}

}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the app for visual effect */
    .app {
        border-bottom: 0;
    }
}

.contactContainer {
    max-width:700px;
    height:auto;
    margin:0 auto;
}
ul.contact-list {
    background: rgba(255, 255, 255, .9);
    list-style:none;
    font-size:2rem;
    line-height:3rem;
    width: 350px;
    height:500px;
    padding:5%;
    margin: 10% auto;   
    border:1px solid black;
    h1 {
        text-align: center;
        padding-bottom: 2%;
        color:orange;
        margin: 2% 0 7% 0;
    }
    li{
        font-family:Raleway;
        border-bottom: 1px solid black;
        a.contact-slide{
        color:rgba(27,125,128,1);
        text-decoration: none;
        }
        i {text-align:center;}
    }
}


